.v-list-item--active {
    background-color: #b71c1c !important;
    color: #ffffff !important;
}

.v-list-item--active:not(.v-list-group__header) {
    background-color: #4e4e4e !important;
    color: #ffffff !important;
}

.theme--dark.v-btn--active:hover::before, .theme--dark.v-btn--active::before,
.theme--dark.v-list-item--active:hover::before, .theme--dark.v-list-item--active::before {
    opacity: 0;
}

.uppercase{
    text-transform: uppercase;
}

/* width */
.scroll-thin::-webkit-scrollbar {
    width: 5px;
}

/* Track */
.scroll-thin::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

/* Handle */
.scroll-thin::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
.scroll-thin::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

/* width */
.v-navigation-drawer__content::-webkit-scrollbar {
    width: 5px;
}

/* Track */
.v-navigation-drawer__content::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

/* Handle */
.v-navigation-drawer__content::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
.v-navigation-drawer__content::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

.article-look-3{
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
}

@media (max-width: 450px) {
    .article-look-3{
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }
}